.container {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.loading-repo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.repo-list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 10px
}

.repo {
  padding: 10px;
}

mat-icon {
  cursor: pointer;
}

.repo-row {
  margin-left: 15px;
  padding: 5px;
  display: flex;
  gap: 10px;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.search-bar {
  display: flex;
  background-color: var(--background-light);
  align-items: center;
  padding: 5px 10px;
  gap: 10px;

  input {
    background-color: var(--background-light);
    color: var(--text-color);
    min-width: 50%;
  }

  input:focus{
    outline: none;
  }
}
