.container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  position: relative;
  height: 50px;
}

.workspace-selector {
  max-width: 600px;
  flex: 1;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  gap: 10px;
  margin-left: 10px;
  align-items: center;

  h1 {
    font-size: 1.2em;
    color: var(--grey);
  }
}

.app-menu {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
  height: 100%;

  .icon {
    cursor: pointer;
  }
}

.logo-menu-item {
  display: flex;
  align-items: center;

  img {
    margin-right: 16px;
  }
}

.heart-icon {
  color: var(--orange);
}
