.select {
  border-radius: 10px;
  padding: 10px 10px 10px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.50);
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  justify-content: space-between;
  color: white;

  &:hover {
    filter: grayscale(20%);
  }

  &:active {
    transform: translateY(1px);
  }
}
