@import "../../../variables";

.nav-button {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 15px;
  height: 48px;
  cursor: pointer;
  font-size: 0.9em;
  white-space: nowrap;
  color: var(--text-color-light);
  background-color: transparent;
  width: 100%;

  &:hover {
    color: var(--text-color);
    background-color: var(--background-light);
  }

  &:active {
    transform: translateY(1px);
  }
}

.selected {
  color: var(--text-color);
  background-color: var(--background);
}

.small {
  padding: 8px;
  width: fit-content;
  aspect-ratio: 1;
  justify-content: center;
}

.small.selected {
  border-right: 3px solid var(--text-color-light);
}
