<div class="container" *ngIf="selectedWorkspace">
  <div class="nav-button"
       routerLink="/CI-CD"
       routerLinkActive="selected-nav-button">
    <mat-icon>all_inclusive</mat-icon>
    CI / CD
  </div>
  <!--div class="nav-button"
       routerLink="/pipeline"
       routerLinkActive="selected-nav-button">
    <mat-icon>rebase_edit</mat-icon>
    Pipeline
  </div>
  <div class="nav-button"
       routerLink="/usage"
       routerLinkActive="selected-nav-button">
    <mat-icon>data_usage</mat-icon>
    Usage
  </div>
  <div class="nav-button"
       routerLink="/analytics"
       routerLinkActive="selected-nav-button">
    <mat-icon>analytics</mat-icon>
    Analytics
  </div-->
</div>
