.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 20px);
  padding: 10px;
}

.inside-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: var(--accent-20);
  border-radius: 20px;
  padding: 20px;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.message {
  text-align: center
}

.input-container {
  width: 100%;
  text-align: center;

  input {
    border-radius: 4px;
    border: 1px solid var(--light-text-color) 50;
    background-color: var(--light-background);
    color: var(--light-text-color);
    width: calc(100% - 20px);
    margin-bottom: 10px;
  }

  a {
    font-size: 0.8em;
    color: white;
  }
}

.connection-button {
  padding: 10px 30px;
  border-radius: 5px;
  background: var(--light-background);
  border: none;
  color: white;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 1px var(--accent);
  }

  &:active {
    box-shadow: -1px -1px 1px var(--accent);
  }
}
