.inner-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  padding: 80px;
}

.h1 {
  max-width: 500px;
  text-align: center;
}

.inside-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: var(--background);
  border-radius: 20px;
  padding: 20px;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.message {
  text-align: center
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: center;

  input {
    width: 200px;
  }

  a {
    font-size: 0.8em;
    color: var(--text-color);
  }
}

.connection-button {
  padding: 10px 30px;
  border-radius: 5px;
  background: var(--light-background);
  border: none;
  color: var(--text-color);
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 1px var(--accent);
  }

  &:active {
    box-shadow: -1px -1px 1px var(--accent);
  }
}
