<div class="container">
  <div class="inside-container">
    <div class="icon-container">
      <img ngSrc="assets/github_logo.png" height="35" width="35" alt=""
           [style]="theme === 'light' ? 'filter: brightness(0%);' : ''">
      <mat-icon>arrow_forward</mat-icon>
      <img ngSrc="assets/logo.png" height="35" width="35" alt="">
    </div>
    <div class="message">
      Use your Github token to connect to Ginny
    </div>
    <div class="input-container">
      <input #tokenInput type="text" placeholder="Token"/>
      <a href="https://github.com/xbauquet/Ginny#getting-the-right-token" target="_blank">How to create my token ?</a>
    </div>
    <button class="connection-button" (click)="connect(tokenInput.value)">Connect</button>
  </div>
</div>
