.container {
  padding: var(--margin) var(--margin) var(--margin) 10px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: var(--margin);
}

.action-button-container {
  width: var(--action-button-width);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  flex: 1;
}
