.container {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  display: flex;
}

.left-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 280px;
  height: 100%;
  background-color: var(--light-background);
  color: var(--text-color);
}

.left-menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-bottom: 1px solid var(--accent-20);
  border-right: 1px solid var(--accent-20);
}

.left-menu-content {
  flex: 1;
}

.main-section {
  flex: 1;
  height: 100%;
}

.nav-menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: var(--light-background);
  color: var(--text-color);
}

.connection-container {
  width: 100%;
  height: calc(100% - 48px);
}

.version {
  color: var(--text-color-light);
  padding-right: 15px;
  text-align: right;
}

.app-menu-button {
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-menu-item {
  display: flex;
  align-items: center;

  img {
    margin-right: 16px;
  }
}
