<div class="container">
  <div>
    <app-header></app-header>
  </div>
  <div class="main-section">
    <div *ngIf="!isLoggedIn"
         class="login">
      <app-login></app-login>
    </div>
    <div *ngIf="isLoggedIn" class="login">
      <app-run-list></app-run-list>
    </div>
  </div>
</div>
<!--------------------------------------------
Repository selector
--------------------------------------------->
<div *ngIf="showRepositorySelector"
     class="repository-selector-container">
  <div class="repository-selector">
    <app-repository-selector></app-repository-selector>
  </div>
  <mat-icon class="repository-selector-close"
            (click)="hideRepositorySelector()">
    close
  </mat-icon>
</div>
