<div class="container">
  <div>
    <app-header></app-header>
  </div>
  <div *ngIf="!isLoggedIn"
       class="login">
    <app-login></app-login>
  </div>
  <div class="main-section" *ngIf="isLoggedIn">
    <div class="run-list" *ngIf="showRunList">
      <app-run-list></app-run-list>
    </div>
    <div #pipelineContainer
         class="pipeline-container"
         [style]="showRunList ? '' : 'flex: 1'"
         *ngIf="showPipeline">
      <div *ngIf="showRunList"
           class="resize-handle"
           (mousedown)="startResizingPipeline($event)"></div>
      <div class="pipeline">
        <app-pipeline></app-pipeline>
      </div>
    </div>
  </div>
</div>
