<div class="container">
  <div class="menu">

    <div class="workspace-container"
         *ngIf="workspace && isWorkspacePopulated()">
      <app-select-button [title]="workspace.name"
                         [color]="getColor(workspace.name)"
                         [matMenuTriggerFor]="workspaceMenu"></app-select-button>
    </div>

    <ng-template [ngIf]="isWorkspacePopulated()">
      <app-nav-button [icon]="'all_inclusive'"
                      [title]="'CI / CD'"
                      [selected]="rlaCiCd.isActive"
                      routerLink="/ci-cd"
                      routerLinkActive
                      #rlaCiCd="routerLinkActive"></app-nav-button>
      <app-nav-button [icon]="'analytics'"
                      [title]="'Usage'"
                      [selected]="rlaUsage.isActive"
                      routerLink="/usage"
                      routerLinkActive
                      #rlaUsage="routerLinkActive"></app-nav-button>
    </ng-template>

    <app-nav-button class="settings"
                    [icon]="'settings'"
                    [title]="'Settings'"
                    [selected]="false"
                    [matMenuTriggerFor]="settingsMenu"></app-nav-button>
  </div>

  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>

<!--------------------------------------------
Main menu
--------------------------------------------->
<mat-menu #settingsMenu="matMenu">
  <button mat-menu-item (click)="toggleTheme()">
    <mat-icon>{{ theme === "dark" ? "light_mode" : "dark_mode" }}</mat-icon>
    {{ theme === "dark" ? "Activate light mode" : "Activate dark mode" }}
  </button>
  <button mat-menu-item (click)="logOut()" *ngIf="isLoggedIn">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
  <mat-divider></mat-divider>
  <a mat-menu-item href="https://github.com/xbauquet" target="_blank">
    <mat-icon class="heart-icon">favorite</mat-icon>
    Coded by @xbauquet
  </a>
  <div class="version">
    {{ version }}
  </div>
</mat-menu>

<!--------------------------------------------
Workspace menu
--------------------------------------------->
<mat-menu #workspaceMenu="matMenu">
  <div mat-menu-item
       *ngFor="let w of workspaces"
       (click)="selectWorkspace(w)">
    <mat-icon class="material-symbols-outlined"
              [style.color]="getColor(w.name)">fiber_manual_record
    </mat-icon>
    {{ w.name }}
  </div>
  <mat-divider></mat-divider>
  <div mat-menu-item
       (click)="createWorkspace()">
    <mat-icon>add</mat-icon>
    Create new workspace
  </div>
</mat-menu>
