<div class="row">
  <div>
    <div>{{ workflow.name }}</div>
    <div *ngIf="runs[0]"
         class="date">
      {{ runs[0].updateDate | date }}
    </div>
  </div>

  <div style="display: flex; gap: 20px">
    <div class="actions">
      <a [href]="workflow.sourceUrl"
         matTooltip="Show source code on Github"
         target="_blank">
        <mat-icon class="menu-icon">code</mat-icon>
      </a>

      <a matTooltip="Show last workflow run on Github"
         [class]="runs.length === 0 ? 'disabled' : ''"
         (click)="runs.length > 0 || $event.preventDefault()"
         [href]="runs.length > 0 ? runs[0].htmlUrl : ''"
         target="_blank">
        <mat-icon class="menu-icon">article</mat-icon>
      </a>

      <a matTooltip="Run workflow"
         [class]="!workflow.isDispatchable ? 'disabled' : ''"
         (click)="runWorkflow()">
        <mat-icon class="menu-icon">play_arrow</mat-icon>
      </a>
    </div>

    <div class="status">
      <div class="{{ runs[0].conclusion }}"
           *ngIf="runs[0]">
        {{ runs[0].conclusion }}
        <mat-progress-bar *ngIf="runs[0].status != 'in_progress'" [value]="100"></mat-progress-bar>
        <mat-progress-bar *ngIf="runs[0].status == 'in_progress'"
                          [mode]="'indeterminate'"></mat-progress-bar>
      </div>
    </div>
  </div>
</div>
