<div class="container">
  <div class="menu">
    <div [matMenuTriggerFor]="pipelineList"
         class="pipeline-selector">
      {{ selectedPipeline ? selectedPipeline.name : "-" }}
      <mat-icon>expand_more</mat-icon>
    </div>

    <mat-menu #pipelineList="matMenu">
      <button mat-menu-item
              *ngFor="let pipeline of pipelines"
              (click)="setSelectedPipeline(pipeline)">
        {{ pipeline.name }}
      </button>
    </mat-menu>

    <div class="pipeline-naming-dropdown">
      <mat-icon (click)="pipelineNaming.hidden = !pipelineNaming.hidden"
                matTooltip="Create new pipeline"
                *ngIf="!isEditable">add
      </mat-icon>
      <div #pipelineNaming hidden
           class="pipeline-naming-dropdown-container">
        <div class="pipeline-naming-dropdown-container-2">
          <input #newPipelineName
                 type="text"
                 placeholder="Pipeline name ..."
                 class="step-input"/>
          <button (click)="pipelineNaming.hidden = true; createNewWorkflow(newPipelineName.value)"
                  class="create-pipeline-button">Create
          </button>
        </div>
      </div>
    </div>
    <mat-icon (click)="deletePipeline()">delete</mat-icon>

    <div class="menu-separator"></div>

    <mat-icon (click)="toggleEdit()"
              *ngIf="!isEditable"
              [matTooltip]="'Start pipeline edition'">edit
    </mat-icon>
    <mat-icon (click)="run()"
              *ngIf="!isEditable"
              matTooltip="Run pipeline">play_arrow
    </mat-icon>
    <div style="flex: 1"></div>
  </div>

  <div class="edition-menu" *ngIf="isEditable">
    <mat-icon [matMenuTriggerFor]="appMenu"
              matTooltip="Add step to pipeline"
              *ngIf="isEditable">add
    </mat-icon>
    <mat-icon (click)="savePipeline()"
              matTooltip="Save pipeline"
              [style]="isSaved ? 'color: #61c30b' : ''"
              *ngIf="isEditable">save
    </mat-icon>
    <div style="flex: 1"></div>
    <mat-icon (click)="toggleEdit()"
              [matTooltip]="'Stop pipeline edition'">close
    </mat-icon>
  </div>


  <mat-menu #appMenu="matMenu">
    <ng-container *ngFor="let run of runRepos">
      <div class="workflow-selection-menu">
        <img alt="" [ngSrc]="run.repo.ownerAvatarUrl" width="24" height="24"/>
        <h1>{{ run.repo.owner }}/{{ run.repo.name }}</h1>
      </div>
      <button mat-menu-item
              *ngFor="let workflowRun of run.workflowRun"
              (click)="addStep(run.repo, workflowRun.workflow)">
        {{ workflowRun.workflow.name }}
      </button>
    </ng-container>
  </mat-menu>
  <div style="flex: 1; position: relative">
    <div #drawflow class="drawflow-container" [class]="isEditable ? 'edition-background' : ''">
    </div>
  </div>
</div>
