.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
  margin-top: 20px;
}

.login-button {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
  background-color: var(--orange);

  &:hover {
    box-shadow: 0 0 5px var(--text-color)50;
  }
}

.login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border-radius: 40px;
  padding: 40px;
}

.repo-link {
  color: var(--text-color);
}
