<div class="container">
  <h1>Buttons</h1>
  <div class="row">
    <div>
      <div>Normal</div>
      <app-nav-button [icon]="'all_inclusive'"
                      [title]="'CI / CD'"
                      style="border: 1px solid black"></app-nav-button>
    </div>
    <div>
      <div>Selected</div>
      <app-nav-button [icon]="'all_inclusive'"
                      [title]="'CI / CD'"
                      [selected]="true"
                      style="border: 1px solid black"></app-nav-button>
    </div>
    <div>
      <app-select-button [matMenuTriggerFor]="selectMenu"
                         [title]="'My select'"
                         [color]="'#FD943C'"></app-select-button>
    </div>
    <div>
      <app-button [title]="'My button'"
                  [color]="'#BA326E'"></app-button>
    </div>
  </div>
</div>


<mat-menu #selectMenu="matMenu">
  <div mat-menu-item>
    <mat-icon>fiber_manual_record</mat-icon>
    Menu entry 1
  </div>
  <div mat-menu-item>
    <mat-icon>fiber_manual_record</mat-icon>
    Menu entry 2
  </div>
  <mat-divider></mat-divider>
  <div mat-menu-item>
    <mat-icon>fiber_manual_record</mat-icon>
    Menu entry 3
  </div>
</mat-menu>
