<div class="container">
  <div class="row">
    <div>
      <div>Normal</div>
      <app-nav-button [icon]="'all_inclusive'"
                      [title]="'CI / CD'"
                      style="border: 1px solid black"></app-nav-button>
    </div>
    <div>
      <div>Selected</div>
      <app-nav-button [icon]="'all_inclusive'"
                      [title]="'CI / CD'"
                      [selected]="true"
                      style="border: 1px solid black"></app-nav-button>
    </div>
    <div>
      <app-select-button [matMenuTriggerFor]="selectMenu"
                         [title]="'My select'"
                         [color]="'#FD943C'"></app-select-button>
    </div>
    <div>
      <app-button [title]="'My button'"
                  [color]="'#BA326E'"></app-button>
    </div>
  </div>

  <div class="row">
    <div>
      <app-action-button [icon]="'sync'"
                         [title]="'Action button'"></app-action-button>
    </div>
    <div>
      <app-action-button [icon]="'sync'"
                         [title]="'Selected button'"
                         [selected]="true"></app-action-button>
    </div>
  </div>

  <div class="row">
    <div class="section"> Section</div>
    <div class="sub-section"> Sub-section</div>
  </div>

  <div class="row">
    <div>
      <div>h1</div>
      <h1 class="h1">This is a title</h1>
    </div>
    <div>
      <div>h2</div>
      <h2 class="h2">This is a title</h2>
    </div>
    <div>
      <div>h3</div>
      <h3 class="h3">This is a title</h3>
    </div>
    <div>
      <div>normal</div>
      <div>This is a text</div>
    </div>
    <div>
      <div>light</div>
      <div class="light-text">This is a text</div>
    </div>
  </div>

</div>

<mat-menu #selectMenu="matMenu">
  <div mat-menu-item>
    <mat-icon>fiber_manual_record</mat-icon>
    Menu entry 1
  </div>
  <div mat-menu-item>
    <mat-icon>fiber_manual_record</mat-icon>
    Menu entry 2
  </div>
  <mat-divider></mat-divider>
  <div mat-menu-item>
    <mat-icon>fiber_manual_record</mat-icon>
    Menu entry 3
  </div>
</mat-menu>
