/******************************************
Node
 ******************************************/
$node-padding: 20px;

.drawflow .drawflow-node {
  background: var(--background);
  border: none;
  border-radius: 5px;
  width: 250px;
  padding: $node-padding;
}

.drawflow .drawflow-node.selected {
  background: var(--background);
  border: 1px solid var(--text-color-light);
}

/******************************************
Content
 ******************************************/
.step-title {
  margin-bottom: 20px;
}

.step-input {
  border: none;
  padding: 10px;
  background-color: var(--background-light);
  margin-bottom: 10px;
}

.step-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--background-ultra-light);
  padding: 15px;

  .box + .box {
    border-top: 1px solid grey;
  }

  .box {
    display: flex;
    align-items: center;
    padding: 10px 0 5px 0;

    .light-text {
      border: none;
      width: 50%;
    }

    input, select {
      background-color: transparent;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 50%;
    }
  }
}

.background-success {
  background-color: var(--color-green);
}

.background-failure {
  background-color: var(--color-red);
}

/******************************************
Input / Output
 ******************************************/

$input-output-size: 20px;
$input-output-border: 3px;
$input-output-full-size: $input-output-size + $input-output-border + $input-output-border;

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
  height: $input-output-size;
  width: $input-output-size;
  background-color: var(--background);

  &:hover {
    background-color: var(--background-ultra-light);
  }
}

.drawflow .drawflow-node .output_1 {
  border: $input-output-border solid var(--color-green);
}

.drawflow .drawflow-node .output_2 {
  border: $input-output-border solid var(--color-red);
}

.drawflow .drawflow-node .output_1.active {
  border: $input-output-border solid var(--color-green);
  background: var(--color-green) !important;
}

.drawflow .drawflow-node .output_2.active {
  border: $input-output-border solid var(--color-red);
  background: var(--color-red) !important;
}

.drawflow .drawflow-node .output {
  right: calc(($node-padding * -1) + ($input-output-full-size / 2));
}

.drawflow .drawflow-node .input {
  left: calc(($node-padding * -1) - ($input-output-full-size / 2));
  border: 3px solid var(--background-ultra-light);
}

.drawflow .drawflow-node .input_1.active {
  border: $input-output-border solid var(--background-ultra-light);
  background: var(--background-ultra-light) !important;
}

/******************************************
Delete
 ******************************************/
.drawflow-delete {
  border: 1px solid var(--text-color-light);
  background: var(--background);
  color: var(--text-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

/******************************************
Connection
 ******************************************/
.drawflow .connection .main-path {
  stroke: var(--background-ultra-light);
  stroke-width: 3px;
}

.drawflow .connection .main-path.selected,
.drawflow .connection .main-path:hover {
  stroke: var(--text-color);
}

.green-stroke {
  stroke: var(--text-color) !important;
}
