.background-success {
  background-color: #61c30b;
}

.background-failure {
  background-color: var(--red);
}

.white-dot {
  background: white !important;
}

.yellow-dot {
  background: yellow !important;
}

.green-stroke {
  stroke: var(--green) !important;
}

:root {
  --border-color: #cacaca;
  --background-color: #ffffff;
  --background-box-title: #f7f7f7;
}

.step-title {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.drawflow .drawflow-node,
.drawflow .drawflow-node.selected {
  background: #081414;
  border-radius: 5px;
  padding: 0;
  width: fit-content;
  color: white;
  border: 1px solid #ffffff20;
  border-left: 10px solid #A3D471;
}

.drawflow .connection .main-path {
  stroke: var(--light-text-color);
  stroke-width: 3px;
}

/**
Output dot
 */
.drawflow .drawflow-node .output {
  height: 14px;
  width: 14px;
  border: 3px solid #081414;
  border-radius: 1000px;
  right: 10px;
}

.drawflow .drawflow-node .output_1 {
  background: #61c30b;
}

.drawflow .drawflow-node .output_2 {
  background: var(--red);
}

/**
Input dot
 */
.drawflow .drawflow-node .input {
  height: 14px;
  width: 7px;
  border: 1px solid #ffffff20;
  border-top-left-radius: 110px;
  border-bottom-left-radius: 110px;
  background: #081414;
  left: -19px;
}

.drawflow .drawflow-node .input:hover,
.drawflow .drawflow-node .output:hover {
  background: var(--orange);
}


.drawflow > .drawflow-delete {
  border: 2px solid var(--orange);
  background: white;
  color: var(--orange);
  -webkit-box-shadow: 0 2px 20px 2px var(--orange);
  box-shadow: 0 2px 20px 2px var(--orange);
}

.drawflow-delete {
  border: 2px solid var(--text-color-light);
  background: white;
  color: black;
  -webkit-box-shadow: 0 2px 20px 2px var(--text-color-light);
  box-shadow: 0 2px 20px 2px var(--text-color-light);
}

.drawflow .connection .point {
  stroke: var(--border-color);
  stroke-width: 2;
  fill: white;

}

.drawflow .connection .point.selected,
.drawflow .connection .point:hover {
  fill: var(--orange);
}

.drawflow .connection .main-path.selected,
.drawflow .connection .main-path:hover {
  stroke: var(--orange);
}
