@import "variables";

.waiting .mdc-linear-progress__bar-inner {
  background-color: #e2e2e2;
}

.success {
  border-color: var(--green);
  color: var(--green);
}

.success .mdc-linear-progress__bar-inner {
  background-color: var(--green);
  border-color: var(--green);
}

.failure {
  border-color: var(--red);
  color: var(--red);
}

.failure .mdc-linear-progress__bar-inner {
  background-color: var(--red);
  border-color: var(--red);
}

.neutral {
  border-color: var(--grey);
  color: var(--grey);
}

.neutral .mdc-linear-progress__bar-inner {
  background-color: var(--grey);
  border-color: var(--grey);
}

.cancelled {
  border-color: var(--grey);
  color: var(--grey);
}

.cancelled .mdc-linear-progress__bar-inner {
  background-color: var(--grey);
  border-color: var(--grey);
}

.timed_out {
  border-color: var(--red);
  color: var(--red);
}

.timed_out .mdc-linear-progress__bar-inner {
  background-color: var(--red);
  border-color: var(--red);
}

.action_required {
  border-color: var(--orange);
  color: var(--orange);
}

.action_required .mdc-linear-progress__bar-inner {
  background-color: var(--orange);
  border-color: var(--orange);
}

.in_progress {
  border-color: var(--blue);
  color: var(--blue);
}

.in_progress .mdc-linear-progress__bar-inner {
  background-color: var(--blue);
  border-color: var(--blue);
}
