@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "variables";
@import "progress_bar";

html, body {
  font-family: 'Open sans', sans-serif;
  height: 100%;
  letter-spacing: 0.5px;
  font-size: 1rem;
  background-color: var(--background-light);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--orange);
  font-size: 0.9rem;
}

input {
  border: none;
  background-color: var(--light-grey);
  padding: 10px;
}

.mat-mdc-progress-spinner
.mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--orange) !important;
}

.rotate {
  animation: loading 3s linear infinite;
  @keyframes loading {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
