@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "drawflow/dist/drawflow.min.css";
@import "variables";
@import "progress_bar";
@import "pipeline";

html, body {
  font-family: 'Open sans', sans-serif;
  height: 100%;
  letter-spacing: 0.5px;
  font-size: 1rem;
  background-color: var(--background-light);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h1 {
  width: 439px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  background: linear-gradient(95deg, #A3D471 0.66%, var(--light-text-color) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 0;
}

input, select {
  border: none;
  background-color: var(--light-grey);
  padding: 10px;
}

.mat-mdc-progress-spinner
.mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--orange) !important;
}

.rotate {
  animation: loading 3s linear infinite;
  @keyframes loading {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.icon-button {
  padding: 5px;

  &:hover {
    background-color: var(--background-light);
  }
}

.mdc-tooltip__surface {
  margin-top: 10px !important;
  background-color: white !important;
  padding: 10px !important;
  overflow: hidden !important;
  color: black !important;
  text-align: center !important;
}

.blur {
  background: #ffffff80;
  backdrop-filter: blur(5px);
}

.dialog-container {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  max-height: calc(98vh - 40px);
  padding: 20px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
