:root {
  --green: #61c30b;
  --red: #d75452;
  --grey: #808fa2;
  --orange: #FD943C;
  --blue: #1792f6;
  --light-grey: #e2e2e2;
}

$small-screen: 1024px;


@mixin darken() {
  --background: black;
  --light-background: #081414;
  --accent: #759A8B;
  --accent-20: #759A8B20;
  --text-color: #fff;
  --light-text-color: #DDDDDD;
  --hover: #2b2d33;
}

@mixin lighten() {
  --background: white;
  --light-background: #e7e9ef;
  --accent: #759A8B;
  --accent-20: #759A8B20;
  --text-color: #000;
  --light-text-color: #18191B;
  --hover: #e2e2e2;
}

body.dark {
  @include darken();
}

body.light {
  @include lighten();
}
