:root {
  --small-screen: 1024px;
  --margin: 30px;
  --action-button-width: 160px;
}

@mixin darken() {
  --background: #1A1A1A;
  --background-light: #2A2A2A;
  --background-ultra-light: #3d3d3d;
  --text-color: #fff;
  --text-color-light: #C3C3C3;
}

@mixin lighten() {
  --background: #f6f7f9;
  --background-light: #e7e9ef;
  --background-ultra-light: #f6f7f9;
  --text-color: #000;
  --text-color-light: #4e525d;
}

body.dark {
  @include darken();
}

body.light {
  @include lighten();
}
