.title {
  padding: 50px;
  width: 439px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  background: linear-gradient(95deg, #A3D471 0.66%, var(--light-text-color) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
