<div style="padding: 50px; height: calc(100% - 100px); width: calc(100% - 100px); display: flex; flex-direction: column;">
  <h1>
    Get the best out of your Github actions with Ginny
  </h1>

  <div style="flex: 1; position: relative;">
    <div style="width: 40%; bottom: 60%; right: 0; position: absolute">
      <app-screenshot imagePath="assets/pipeline_screenshot.png"
                      icon="analytics"
                      title="Analytics"
                      message="Analyse your actions"></app-screenshot>
    </div>

    <div style="width: 40%; bottom: 40%; right: 15%; position: absolute">
      <app-screenshot imagePath="assets/pipeline_screenshot.png"
                      icon="data_usage"
                      title="Usage"
                      message="Monitor your usage"></app-screenshot>
    </div>

    <div style="width: 40%; bottom: 20%; right: 30%; position: absolute">
      <app-screenshot imagePath="assets/pipeline_screenshot.png"
                      icon="rebase_edit"
                      title="Pipeline"
                      message="Create multi-repo pipeline"></app-screenshot>
    </div>

    <div style="width: 40%; bottom: 0; right: 45%; position: absolute">
      <app-screenshot imagePath="assets/ci-cd_screenshot.png"
                      icon="all_inclusive"
                      title="CI / CD"
                      message="Monitor your Ci / CD results"></app-screenshot>
    </div>
  </div>
</div>
