.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
}

.title-container {
  display: flex;
  gap: 10px;
  align-items: center;

  img {
    height: 36px;
    width: 36px;
  }

  h1 {
    margin: 0;
    padding: 0;
  }
}

.donut {
  width: 100px;
  height: 100px;
}
