<div class="container">
  <!--app-no-workspace *ngIf="!selectedWorkspace"></app-no-workspace-->

  <div class="menu" *ngIf="selectedWorkspace">
    <app-action-button [icon]="'reorder'"
                       [text]="'Repositories'"
                       (click)="changeRepositories()"></app-action-button>

    <app-action-button [icon]="'refresh'"
                       [text]="'Refresh once'"
                       (click)="refreshOnce()"></app-action-button>

    <app-action-button [icon]="'sync'"
                       [text]="'Start autorefresh'"
                       (click)="autoRefresh()"></app-action-button>

    <app-action-button [icon]="'delete'"
                       [text]="'Delete workspace'"
                       (click)="deleteWorkspace()"></app-action-button>
  </div>

  <!--app-no-repo-in-workspace *ngIf="selectedWorkspace && selectedWorkspace.repos.length === 0"></app-no-repo-in-workspace-->

  <div class="ci-cd-list" *ngIf="selectedWorkspace">
    <div *ngFor="let repoRun of repoRuns"
         class="repo-row">
      <div style="font-weight: bold">
        {{ repoRun.repo.owner }} / {{ repoRun.repo.name }}
      </div>

      <div *ngFor="let run of repoRun.workflowRun">
        <app-ci-cd-row [run]="run"
                       [repo]="repoRun.repo"></app-ci-cd-row>
      </div>
    </div>
  </div>
</div>
