.container {
  width: 100%;
  height: calc(100% - 48px);
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  align-items: center;
}

.menu {
  margin: 2px;
  background-color: var(--light-background);
  height: 80px;
  display: flex;
  gap: 5px;
  justify-content: right;
  width: calc(100% - 4px);
}

.ci-cd-list {
  height: calc(100% - 81px);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 60px;
  width: 800px;
}

.repo-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
